h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: #303030;
}

p, li, a {
	font-size: 10pt;
	color: #303030;
}

.hidden {
	display: none;
}

#logo {
	width: 70vw;
	max-width: 400px;
	display: block;
	margin: 20vh auto 50px auto;
}

form input {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #E0E0E0;
	border-style: none;
}

form button {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #E0E0E0;
	border-style: none;
	cursor:pointer;
}

#signup {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px 10px;
	background-color: #E0E0E0;
}

#signup a {
	text-decoration: none;
}

#submit {
	margin-top: 10px;
}

.errorTxt {
	text-align: center;
}

#logoutButtonCon {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#logoutButton {
	font-size: 12pt;
	text-decoration: none;
	color: #fff;
	background-color: #3b3b3b;
	border: 2px solid #f3f3f3;
	padding: 5px 10px;
}

#lastLogin {
	position: fixed;
	bottom: 0px;
	right: 10px;
}